/*#eeeeee*/

.about {
	width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	background: #742dd2;
	position: relative;
}

/*----Header--------*/

.header {
	background: #742dd2;
}

.white-div {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0;
	right: 0;
	background: #eeeeee;
	z-index: bottom;
	opacity: 0;
	animation: slide-left 1s .5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
	
}

.header h1 {
	animation-delay: 1.5s;
}

.header h2 {
	animation-delay: 1.8s;
}
