.nav-icon {
  margin: 1em;
  width: 30px;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: #000;
  content: '';
  display: block;
  border-radius: 1px;
  height: 2px;
  margin: 7px 0;
  transition: all .4s ease-in-out;
}

.nav-icon:hover:before {
  transform: scaleX(0.7);
}

.nav-icon:hover:after {
  transform: scaleX(0.7);
}

.nav-icon:hover div {
  transform: scaleX(1.2);
}

.nav-icon:active:before {
  transform: translateY(9px) rotate(135deg);
}

.nav-icon:active:after {
  transform: translateY(-9px) rotate(-135deg);
}

.nav-icon:active div {
  transform: scale(0);
}