
.menu-button-container {
  border: none;
  background: transparent;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  top: 0;
  left: 0;
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 0.6em;
}

.menu-button-container:hover {
  cursor: pointer;
}

.open,
.close {
  margin: 1em;
  width: 30px;
}

.open:after, 
.open:before, 
.open div,
.close:after, 
.close:before, 
.close div {
  background-color: #000;
  content: '';
  display: block;
  height: 1px;
  margin: 7px 0;
  transition: all .4s ease-in-out;
}

/*.nav-icon:hover:before {
  transform: scaleX(0.7);
}

.nav-icon:hover:after {
  transform: scaleX(0.7);
}

.nav-icon:hover div {
  transform: scaleX(1.2);
}*/

.close:before {
  transform: translateY(8px) rotate(135deg);
}

.close:after {
  transform: translateY(-8px) rotate(-135deg);
}

.close div {
  transform: scale(0);
}