.nav-icon {
  margin: 1em;
  width: 30px;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: #000;
  content: '';
  display: block;
  height: 1px;
  margin: 7px 0;
  transition: all .4s ease-in-out;
}

.menu-button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  top: 0;
  left: 0;
}

.menu-button-container p {
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 0.6em;
}


.nav-icon:hover:before {
  transform: scaleX(0.7);
}

.nav-icon:hover:after {
  transform: scaleX(0.7);
}

.nav-icon:hover div {
  transform: scaleX(1.2);
}

.nav-icon:active:before {
  transform: translateY(9px) rotate(135deg);
}

.nav-icon:active:after {
  transform: translateY(-9px) rotate(-135deg);
}

.nav-icon:active div {
  transform: scale(0);
}