
.menu-closed,
.menu-open {
  border: none;
  background: transparent;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 40px;
  top: 50%;
  left: 0;
  text-transform: uppercase;
  font-size: 0.6em;
  z-index: top;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms
}

.menu-closed {
  transform: translate(0, -50%);
}

.menu-open {
  transform: translate(50px, -50%);
  color: #fff;
}

.menu-closed:hover,
.menu-open:hover {
  cursor: pointer;
}

.menu-closed:focus,
.menu-open:focus {
  outline: 0;
}

.open,
.close {
  margin: 1em;
  width: 30px;
}

.open:after, 
.open:before, 
.open div,
.close:after, 
.close:before, 
.close div {
  background-color: #000;
  content: '';
  display: block;
  height: 1px;
  margin: 7px 0;
  transition: all .4s ease-in-out;
}

.open:hover:before {
  transform: scaleX(0.7);
}

.open:hover:after {
  transform: scaleX(0.7);
}

.open:hover div {
  transform: scaleX(1.2);
}

.close:before {
  transform: translateY(8px) rotate(135deg);
}

.close:after {
  transform: translateY(-8px) rotate(-135deg);
}

.close div {
  transform: scale(0);
}