.show,
.hide,
.peak {
	position: fixed;
	top: 40px;
	left: 0;
	width: 400px;
	height: 100vh;
	overflow-x: hidden;
	background: #f9f9f9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.4s;
	transition-timing-function: cubic-bezier(.84,-0.1,.71,1.05);
}

.show {
	transform: translate(0, 0);
}

.hide {
	transform: translate(-400px, 0);
}

.peak {
	transform: translate(-320px, 0);
}

.menu-logo {
	text-align: center;
	width: 100%;
	height: 12%;
}

.nav-list {
	padding: 50px;
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.link {
	color: #000;
	width: 60%;
	display: block;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .15s ease-in;
}

.separator {
	height: 1px;
	width: 60%;
	background: #000;
}

.contact-info {
	margin-top: 20px;
	text-align: center;
}

.contact-info p,
.contact-info a {
	font-size: 0.6em;
	text-decoration: none;
	color: #000;
}

