.border {
	position: fixed;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

.logo {
	position: absolute;
	top: 0;
	left: 40px;
	height: 40px;
	text-align: left;
}

.logo-link {
	height: 100%;
	padding-top: 8px;
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;

}

.social-media-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 40px;
	top: 0;
	right: 0;
}

.social-media-container a img {
	height: 20px;
	margin: 6px;
	width: auto;

}

.main-view {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
}

.menu-button-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 40px;
	top: 0;
	left: 0;
}



.menu-button {
	display: block;
	text-transform: uppercase;
	border: none;
	margin-top: -20px;
	background: transparent;
	font-size: 0.6em;
}

.menu-button:hover {

}

.slide-menu {
	position: relative;
}

